<h1>guest</h1>
<p>First Name: <%= @guest.firstname %></p>
<p>Last Name: <%= @guest.lastname %></p>
<p>Welcome Party: <%= @guest.welcome_party %></p>
<p>Wedding: <%= @guest.wedding %></p>
<p>Breakfast: <%= @guest.breakfast %></p>