<div class="admin">
<h1 class="TopLevelHeader">Guests</h1>

<p><%= link_to "Go to Admin Page", admin_path %></p>
<p><%= link_to "Add Another Household", new_household_path %></p>
<p><%= link_to "See Comments", comments_path %></p>

  <%= form_tag households_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], :placeholder => "Search by Name", :id =>"AdminSearchField" %><br/>
        <%= submit_tag "Search", :name => nil, :id => "AdminSearchSubmit" %><br/>
        <%= link_to "Clear Results", households_path %>
      </p>
  <% end %>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Zip Code</th>
    <th>Household ID</th>
    <th>Has Plus One</th>
    <th>Wedding</th>
    <th>Shuttle</th>
    <th>Vegetarian</th>
    <th>Welcome Party</th>
    <th>Breakfast</th>
    <th>Response Date</th>
    <th></th>
  </tr>

  <% @households.each do |h| %>
      <% h.guests.each do |g| %>
          <% if g.lastname? %>
          <tr>
            <td><%= g.firstname %></td>
            <td><%= g.lastname %></td>
            <td><%= h.zipcode %></td>
            <td><%= g.household_id %></td>
            <td>
              <% if h.has_plus_one == 1 %>
                  <% if g.is_plus_one == true %>

                  <% else %>
                      <%= h.has_plus_one %>
                  <% end %>
              <% end %>
            </td>
            <td><%= g.wedding %></td>
            <td><%= g.shuttle %></td>
            <td><%= g.vegetarian %></td>
            <td><%= g.welcome_party %></td>
            <td><%= g.breakfast %></td>
            <td>
              <% if g.response_date? %>
                <%= g.response_date.to_date %>
              <% end %>
            </td>
            <td><%= link_to "Edit", edit_guest_path(g) %></td>
          </tr>
          <% end %>
      <% end %>
  <% end %>
</table>
</div>